body {
    margin: 2em;
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
}

.metadata {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    line-height: 2em;
    width: 60%;
    align-items: baseline;
}

.metadata > .right {
    justify-self: end;
}

.metadata button {
    margin: 0.25em;
    padding: 1em;
    height: 2em;
    width: 2em;
    text-align: center;
    line-height: 1em;
}

#menuNameInput {
    border: none;
    text-align: end;
    width: fit-content;
}

.allergy {
    margin-left: 0.5em;
    color: grey;
    cursor: pointer;
    padding: 0.25em;
    align-content: center;
}
.allergy-selected {
    color: black;
    border: 1px solid aquamarine;
    border-radius: 10px;
}

.allergy:hover {
    color: black;
}

#menuHeader {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#menuActions{
    display: flex;
    gap: 2em;
    cursor: pointer;
}

.day {
    border: 1px solid grey;
    border-radius: 8px;
    max-width: fit-content;
    padding: 1em;
}

#dayContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1em;
}

#shoppingListHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.triangleDown {
    transform: rotate( 180deg );            
    transition: transform 500ms ease;
    cursor: pointer;
    padding: 0.5em;
}

.triangleUp {
    transform: rotate( 360deg );            
    transition: transform 50jhljhljkhljkhgl0ms ease;
    cursor: pointer;
    padding: 0.5em;
}

.ingredientsHidden {
    display: none;
}

.ingredientsVisible {
    margin-top: 0;
}

@media (max-width: 600px) {
    body {
        margin: 0.25em;
    }
}